<%= form_for @profile, html: { multipart: true } do |f| %>
  <div class="form-group">
    <label>First name</label>
    <%= f.text_field :first_name %>
  </div>
  <div class="form-group">
    <label>Last name</label>
    <%= f.text_field :last_name %>
  </div>
  <div class="form-group">
    <label>Age</label>
    <%= f.number_field :age %>
  </div>
  <div class="form-group">
    <label>City</label>
    <%= f.text_field :city %>
  </div>
  <div class="form-group">
    <label>Address</label>
    <%= f.text_field :address %>
  </div>
  <div class="form-group">
    <label>Postal code</label>
    <%= f.text_field :postal_code %>
  </div>
  <div class="form-group">
    <label>IBAN</label>
    <%= f.text_field :billing_info %>
  </div>

   <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
