
<div class="container">
  <h2> <%= @product.name %></h2>

  <hr />

  <br />
  <p><%= image_tag @product.image, style: 'width: 100px' %></p>
  <br />

  <p><%= @product.description %></p>

  <hr />

  <p>Price: <%= @product.price %> bitcoin</p>

  <hr />

  <%= link_to 'Back', catalogue_path, class: "btn btn-primary" %>
</div>
